* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: red;
}

.p, .t, .v {
   border: 3px solid transparent;
   min-height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.p {
   border-color: #ffffba
}

.t {
   border-color: #ffdfba;
}

.v {
   border-color: #baffc9;
}

/* tablet */
@media(max-width:1199px) {
   body {
      background-color: green;
   }
}

/* mobile */
@media(max-width:600px) {
   body {
      background-color: yellow;
   }
}